<form action="/result2" method="POST">
    What is the 13 times 7:
    <p>
    <input type="radio" name="choice1" value="1" required> 90
    <input type="radio" name="choice1" value="2" required> 89
    <input type="radio" name="choice1" value="3" required> 92
    <input type="radio" name="choice1" value="4" required> 91
    <p>
    What is 16 times 4:
    <p>
    <input type="radio" name="choice2" value="1" required> 68
    <input type="radio" name="choice2" value="2" required> 64
    <input type="radio" name="choice2" value="3" required> 62
    <input type="radio" name="choice2" value="4" required> 66
    <p>
    What is 15 times 9:
    <p>
    <input type="radio" name="choice3" value="1" required> 130
    <input type="radio" name="choice3" value="2" required> 140
    <input type="radio" name="choice3" value="3" required> 150
    <input type="radio" name="choice3" value="4" required> 135
    <p>
    <input type="submit" value="Submit">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
