<form action="/result" method="POST">
    What is the square root of 144:
    <p>
    <input type="radio" name="choice1" value="1" required> 16
    <input type="radio" name="choice1" value="2" required> 11
    <input type="radio" name="choice1" value="3" required> 12
    <input type="radio" name="choice1" value="4" required> 15
    <p>
    What is the square root of 36:
    <p>
    <input type="radio" name="choice2" value="1" required> 6
    <input type="radio" name="choice2" value="2" required> 8
    <input type="radio" name="choice2" value="3" required> 4
    <input type="radio" name="choice2" value="4" required> 5
    <p>
    What is the square root of 81:
    <p>
    <input type="radio" name="choice3" value="1" required> 8
    <input type="radio" name="choice3" value="2" required> 7
    <input type="radio" name="choice3" value="3" required> 11
    <input type="radio" name="choice3" value="4" required> 9
    <p>
    <input type="submit" value="Submit">
        
    
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
